*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  display: flex;
  justify-content: center;
  background: linear-gradient(45deg,#0a0a0a,#3a4452);
  color: #fff;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

h2{
  padding-top: 100px;
}

.container {
  width: 400px;
  text-align: center;
}

textarea {
  margin-top: 30px;
  width: 100%;
  height: 150px;
  padding: 10px;
  background: linear-gradient(45deg,#0a0a0a,#3a4452);
  box-shadow: 3px 6px 15px rgba(113,115,119,0.9);
  border: 1px solid #717377;
  border-radius: 16px;
  color: #fff;
}

p{
  padding-top: 10px;
}